//custom background color
$mc-light-gray: #e6e6e6;
//custom background color
// $mc-light-gray: #eff0f1;
$mc-light-gray2: #BFBFBF;
$mc-light-gray3: #e6e6e6;
$mc-light-gray4: #e3e3e3;

$mc-bright-gray: #cccccc;
$mc-dark-gray: #989898;
$mc-darker-gray: #999999;
//custom color
$mc-white: #ffffff;
$mc-light-medium-gray: #c6c6c6;
$mc-medium-gray: #a7a7a7;
$mc-gray: #949494;
$mc-brown: #614e47;
$mc-pink: #ff807d;
$mc-light-pink: #ff96c8;
$mc-orange: #ff9a50;
$mc-yellow: #f9ed32;
$mc-light-green: #8cc53f;
$mc-dark-green: #87c03f;
$mc-green-yellow: #8dc63f;
$mc-tab-green: #74a222;
$mc-base-green: #74a122;
$mc-shamrock-blue: #32ceb0;
$mc-light-purple: #a8a8f6;
$mc-purple: #8064a2;
$mc-bright-pink: #ff95c9;


.bg-bright-pink{ background-color: $mc-bright-pink}





