@import "color";
@import "font";
@import "~foundation-sites/scss/util/util";
@import "vars";

//card
.card-container{
  padding: 30px;
  @include breakpoint(small only){
    padding: 15px;
  }
}

//Bullet
.bullet:before {
  content: "•";
  padding-right: 15px;
}

//input
input.mc-input{
  height: 40px;
  font-size: 70%;
  border-radius: 5px;
  padding: 10px;
  margin: 0;
  color: inherit;
  border: 2px solid #cbcbcb;
  &:focus{
    border: 2px solid #cbcbcb;
  }
  &--group{
    margin-bottom: 35px;
    @include breakpoint(small only){
      margin-bottom: 15px;
    }
  }
  @include breakpoint(small only){
    height: 40px;
    padding-left: 10px;
  }
  &.has-error{
    border-color: #ff3300;;
  }
}

//select
select.mc-select {
  height: 70px;
  font-size: 100%;
  border-radius: 5px;
  margin: 0;
  padding-left: 20px;
  padding-right: 1rem;
  @media #{$x-small} {
    padding-left: 10px !important;
    padding-right: 15px !important;
  }
  color: #b2b2b2;
  background-image: url("/assets/images/icon/icon-arrow-bottom.png");
  border: 2px solid #cbcbcb;
  background-size: 22px 12px;
  background-position: right 0rem center;
  &--group{
    margin-bottom: 20px;
    @include breakpoint(small only){
      margin-bottom: 15px;
    }
  }
  select.option {
    text-align: center;
  }
  @include breakpoint(small only){
    height: 45px;
    padding-left: 25px;
  }
}

button.mc-button{
  font-family: "db_helvethaicaais_x55_regular";
  padding: 15px 0;
  width: 100%;
  max-width: 350px;
  font-size: 100%;
  border-radius: 6px;
  border: 2px solid white;
  background-color: #cced61;
  color: #74a722;
  &[disabled]{
    background-color: #eff9d1;
    color: #d4e3bf;
  }
  &--gray{
    background-color: #d5d5d5;
    color: #989898;
  }
  &--green{
    &[disabled]{
      background-color: #eff9d1;
      color: #d4e3bf;
    }
  }
  &--blue{
    background-color: $mc-shamrock-blue;
    color: white;
    &[disabled]{
      background-color: #32ceb0;
      opacity: 0.5;
      color: white;
    }
  }
  &--inline{
    border: none;
    margin-left: 5px;
  }
  @include breakpoint(small only){
    padding: 17px 0;
    max-width: 230px;
    &--inline{
      padding: 14px 0;
    }
  }
}

// Checkbox

input.mc-checkbox {
  display:none;
  +label{
    line-height: 0;
    width:30px;
    height:30px;
    display: inline-block;
    vertical-align:middle;
    cursor:pointer;
    background: #fff;
    border: 2px solid #cbcbcb;
    border-radius: 100%;
    margin-left: 0;
    margin-right: 0;
    +label{
      font-size: inherit;
      &.no-wrap{
        white-space: nowrap;
      }
    }
  }
  &:checked + label{
    border-color: $mc-green-yellow;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAMAAACsjQ8GAAAAXVBMVEUAAACNxj+Nxj+Nxj+Nxj+Nxj+Nxj+Nxj+Nxj+Nxj+Nxj+Nxj+Nxj+Nxj+Nxj+Nxj+Nxj+Nxj+Nxj+Nxj+Nxj+Nxj+Nxj+Nxj+Nxj+Nxj+Nxj+Nxj+Nxj+Nxj+Nxj/U/z1QAAAAHnRSTlMApPXxQes4vZwmB/ktDtrMXEoyFuOxsJCPfXlrMRvxjlGkAAAAoElEQVQoz32R1w7DIAwAmWFlp3v4/z+zVYNrqoLvCfnOEgLRJgieTnnW9xpARmbfwptjs1gUfHBD3c8Jdmyo+htk9CNf6Nefv77bB0bJQkeJ3q7oAagYHPpDIE/FNqEfn+SpCCP6acsrHoCK1QL8PYCkwmg8nyLqsnAJT54sFQUXNI3iSqZa3IXgijTXPBVqEQ0kfQ9T2F4wSNxv4k1l+AJkNxntv2NoEQAAAABJRU5ErkJggg==);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
  }

}

// multi-line
.multi-line{
  word-wrap: break-word;
}
.error-msg{
  font-size: 15px;
  color: #ff3300;
}

// column, columns for x-small
@media #{$x-small} {
  .column.x-small-12, .columns.x-small-12{
    width: 100%;
    .mc-input {
      margin-bottom: 10px;
    }
    .mc-select {
      margin-bottom: 10px;
    }
  }
}
