@import "util/color";
// Use ...
/*
<section class="mc-page-container">
  <section class="header">
    <mc-device-order-header title="ขายเครื่องพร้อมแพ็กเกจ" [backUrl]="backUrl"></mc-device-order-header>
  </section>

  <section class="content-container">
    <mc-processing-step [processStep]="{ step: 1 }"></mc-processing-step>
    <div class="content">
      CUSTOMER INFO
    </div>
  </section>

  <section class="footer">
    <mc-next-back-btn [isDisableNextBtn]="false" (onNextEvent)="onNext($event)" (onCancelEvent)="onBack($event)">
    </mc-next-back-btn>
  </section>
</section>
*/

.mc-page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .header {
        flex: none;
        position: fixed;
        left: 0;
        right: 0;
        z-index: 10;
    }

    .content-container {
        flex: 1 0 auto;
        position: relative;
        overflow-y: auto;

        .content {
            background: #fff;
            margin: 0px 10px 30px;
            padding: 20px 15px;
        }
    }

    .footer {
        flex: 0 0 auto;
    }
}

.divider {
    border-bottom: 2px solid #e6e6e6;
}


//


table.mc-table {
    font-size: inherit;
    margin-bottom: 20px;
    box-shadow: 0 0 1px 1px #e2e2e2;
    border-collapse: collapse;
    thead {
        color: #fff;        
        th, td {
            font-weight: normal !important;
            padding: 12px 20px;
            font-size: 1.2em;
        }

        th.prefix-icon {
            padding-left: 65px;
            position: relative;
            img {
                width: 40px;
                position: absolute;
                top: 6px;
                left: 16px;
            }
        }
    }

    tbody {        
        tr {
            color: $mc-brown;
            background: #fff;
            th, td {
                padding: 10px 15px 5px;
                &:first-child {
                    padding-left: 20px;
                }
                &:last-child {
                    padding-right: 20px;
                }
            }
            &:first-child {
                th, td {
                    padding-top: 20px;                    
                }
            }
            &:last-child {
                th, td {
                    padding-bottom: 20px;
                }
            }
        }
    }

    tr.divider {
        border-bottom: 0.05em solid #cccccc;
    }
}


// 
.mc-radio input[type=radio] {
    opacity: 0;
    position: absolute;   
}
 
.mc-radio input[type=radio], .mc-radio label {
    font-size: inherit;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}
 
.mc-radio label {
    position: relative;
}
/* Edit the properties below to change the colors of the un-checked radio button */
.mc-radio input[type=radio] + label:before {
    content: '';
    border: 2px solid $mc-light-green;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    padding: 2px;
    line-height:15px;
    margin-right: 10px;
    text-align: center;
}
 
.mc-radio input[type=radio] + label:before {
    border-radius: 50%;
}
/* Edit the properties below to change the colors of the checked radio button */
.mc-radio input[type=radio]:checked + label:before {
    background: url(../images/icon/icon-small-green-check.png) no-repeat center center;
    background-size: 18px;
}
 
.mc-radio input[type=radio]:focus + label {
  outline: none;
}